{% extends 'polls/index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>Home Page</h1>

{% block content %}
<h1>Posts</h1>
<ul class="list-group">
   {% for post in posts %}
        <li class="list-group-item"><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></li>
     {% endfor %}
</ul>

<h1>Authors</h1>
<ul class="list-group">
{% for author in authors %}

    <li class="list-group-item"><a href="{% url 'author_page' author.pk %}">{{ author.first_name }} {{ author.last_name }}</a></li>

{% endfor %}
</ul>
{% endblock %}
</body>
</html>