{% extends 'polls/index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
</head>
<body>
{% block content %}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ post.title}} </h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{ post.update_date }}</h6>
    <p class="card-text">{{ post.content }}</p>
    <a style="color:red; text-decoration:none;" href="{% url 'add_like' post.pk %}">{{ post.number_of_likes }}&hearts;</a>
    <a href="{% url 'author_page' post.author.pk %}"  class="card-link">All posts</a>
  </div>
</div>
    </div>
    <div class="col">
      <div id="carouselExample" class="carousel slide" style=" width: 100%;" >
  <div class="carousel-inner" style=" width: 100%;">
    <div class="carousel-item active" style=" width: 100%;">
        <div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Comments</h5>


      </div>
    </div>
  </div>

</div>
    </div>
    {% for comment in post_comments %}
    <div class="carousel-item" style=" width: 100%;">
        <div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" >{{ comment.author }}</h5>
        <p class="card-text">{{ comment.text }}</p>
        <a href="{% url 'author_page' comment.author.pk %}" class="btn btn-primary">Go to authors page</a>
      </div>
    </div>
  </div>

</div>
    </div>
      {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    </div>
    <div class="col">
     <form method="post">
    {% csrf_token %}

  <div class="mb-3">
    <label for="{{ form.content.id_for_label }}" class="form-label">Text</label>
    <input name="text" type="text" class="form-control" id="exampleInputPassword1">
  </div>
    <button type="submit" class="btn btn-primary" >Leave comment</button>
</form>
    </div>
  </div>
</div>





{% endblock %}
</body>
</html>